<h2 mat-dialog-title>Detalles de la Clase</h2>
<div mat-dialog-content>
  <form [formGroup]="claseAlumnosForm">
    <div class="row">
      <div>
      <p><strong>Id:</strong>{{ clase.id }}</p>
      <p>
        <strong>Nombre:</strong>
        {{ clase.nombre }}
      </p>
      <p><strong>Fecha Inicio:</strong> {{ clase.fechaInicio | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Fecha Fin:</strong> {{ clase.fechaFin | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Horario Inicio:</strong> {{ clase.horarioInicio }}</p>
      <p><strong>Horario Fin:</strong> {{ clase.horarioFin }}</p>
      </div>
      
      <div class="d-flex">
        <div class="col-10">
          <mat-form-field class="selectAlumnos">
            <mat-label>Alumnos</mat-label>
            <mat-select formControlName="nombre">
              <mat-option *ngFor="let alumno of (this.alumnos$ | async)" [value]="alumno.id">
                {{ alumno.nombre | nombreCompleto : alumno.apellido }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <button
            (click)="onAgregarAlumno()"
            mat-raised-button
            color="primary"
            [disabled]="(rolLogin$ | async) !== 'ADMIN'"
          >
            Agregar Alumno
          </button>
        </div>
      </div>
      <p>
        <strong>Nombre:</strong>
        {{ clase.nombre }}
      </p>
      <ul *ngIf="alumnosInscritos$ | async as alumnosInscritos; else noAlumnos">
        <p><strong>Alumnos Inscriptos: ({{ alumnosInscritos.length }})</strong></p>
        <li *ngFor="let alumno of alumnosInscritos; let i = index">
          {{ alumno.nombre | nombreCompleto: alumno.apellido }}
          
          <button
            (click)="onDeleteAlumno(alumno)"
            mat-icon-button
            color="warn"
            [disabled]="(rolLogin$ | async) !== 'ADMIN'"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </li>
      </ul>
      
      <ng-template #noAlumnos>
        <p><strong>Alumnos Inscriptos: (0)</strong></p>
        <p>Sin Alumnos Inscriptos</p>
      </ng-template>
    </div>
  </form>
</div>
